name = "0-nkey-cron"
main = "src/index.ts"
compatibility_date = "2024-01-01"

# 크론 트리거 설정 (5분마다 실행)
[triggers]
crons = ["*/5 * * * *"]

# Observability 설정 (로그 및 추적)
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true

[observability.traces]
enabled = false
head_sampling_rate = 1

